* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #0f0f0f;
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    flex-direction: column;
}

.light-mode {
    

    .pomodoro {
        background-image: linear-gradient(to bottom, #efc9e6, #f9f0d1);

    }

   .pomodoro:hover {

        background-image: linear-gradient(to bottom, #f9f0d1, #efbdb2);
    }

    .pomodoro a {
        color: #4c261d;
    }



}

.pomodoro img {
    width: 10vw;
    margin: -30px;
}

.pomodoro {
    font-size: 1.5rem;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-image: linear-gradient(to top, #a4eaeab9, #5f4134);
    transform: scale(0.9);
    transition: transform 0.15s ease-in-out;
}


.pomodoro:hover {
    background-color: #36ebf4;
    transform: scale(1);

}






nav {
    position: absolute;
    top: 20px;
    left: 300px;
    width: fit-content;
    border-color: #442e24;
    border-width: 8px;
    border-style: double;
    display: flex;
    text-align: center;
    background-color: #b3f9ed8f;
    padding: 10px 10px;
    justify-content: space-evenly;
    gap: 20px;
    z-index: 100;
}

.game-link {
    
    
    font-size: 1.2rem;
    transition: color 0.3s ease;
    background-color: #457d47;
    font-size: 1.5rem;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    transform: scale(0.9);
    transition: transform 0.15s ease-in-out;
}

.game-link a {
    color: #e4d8c8;
    text-decoration: none;
}

.game-link:hover {
    background-color: #15410f;
    transform: scale(1) ; 

}

.pomodoro {
    font-size: 1.5rem;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #925753;
    transform: scale(0.9);
    transition: transform 0.15s ease-in-out;
}

.pomodoro:hover {
    background-color: #f44336;
    transform: scale(1) ; 

}

.pomodoro a {
    color: #e4d8c8;
    text-decoration: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4b1f1f;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    -webkit-transition: .4s;
    transition: .4s;
}


input:focus+.slider {
    box-shadow: 0 0 1px #8c8d48;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 30%;
}

