* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #673d3d;
    background-image: url('imgs/mintchoco/mintchoco-bg.png');
    background-size: 95vh;

    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.gradient-div {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #3522226b;
    pointer-events: none;
    z-index: 1;
}

.light-mode {

    color: #4c261d;
    background-image: url('imgs/neopolitan/neopolitan-bg.png');
    background-size: 99vh;

    .gradient-div {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #e2b9cc59;
        pointer-events: none;
        z-index: -1;

    }

    
       
    nav {
        border-color: #4c261d;
        background-color: #f9b3b38f;
    }
    

    #tasksToggle {
        background-image: linear-gradient(to bottom, #efc9e6, #f9f0d1);

    }

    #tasksToggle:hover {

        background-image: linear-gradient(to bottom, #f9f0d1, #efbdb2);
    }
   .task-icon{
        content:url(imgs/neopolitan/neopolitan-cat-icon-rb.png);
    }

    .game-link {
      background-image: linear-gradient(to top, #efc9e6, #f9f0d1);
    }
    .game-link:hover {
      background-image: linear-gradient(to top, #f9f0d1, #efbdb2);
    }

    .game-link a {
        color:#4c261d ;
    }

    .task-title {
        background-image: url(imgs/neopolitan/neopolitan-wings.png);
    }

    .task-title h2 {
        color: #4c261d;
        background-color: #fbd7b4a5;
    }

    input {
        background-image: linear-gradient(to top, #efc9ef, #fcfaf9);
    }

    .addBtn:hover {
        background-image: linear-gradient(to bottom, #5f4134, #fbd7b4);
    }


    ul li {
    background: #ffe1cb;
    }
    
    ul li.checked {
        background: #4c261d;
        color: #efc9e6;
    }
    ul li:hover:nth-child(odd) {
    background: #b4918b;
    }

    ul li:nth-child(odd) {
        background: #efc9e6;
    }

    ul li.checked::before {
        color: #ffe1cb;
    }

     ul li:before {
        color: #442e24;
    }

    ul li.checked:nth-child(odd) {
        background-color: #e6a3be;
    }
    .notification {

        background: #e6a3be6b;
        border-color:rgb(180, 113, 83);
        color: white;
    }
    

}


nav {
    position: absolute;
    top: 20px;
    left: 300px;
    width: fit-content;
    border-color: #442e24;
    border-width: 8px;
    border-style: double;
    display: flex;
    text-align: center;
    background-color: #b3f9ed8f;
    padding: 10px 10px;
    justify-content: space-evenly;
    gap: 20px;
    z-index: 100;
}

#tasksToggle img {
    width: 10vw;
    margin: -30px;
}



.game-link {


    font-size: 1.2rem;
    transition: color 0.3s ease;
    background-image: linear-gradient(to bottom, #a4eaeab9, #5f4134);
    font-size: 1.5rem;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    transform: scale(0.9);
    transition: transform 0.15s ease-in-out;
}

.game-link a {
    color: #ffffff;
    text-decoration: none;
}

.game-link:hover {
    background-color: #36ebf4;
    transform: scale(1);

}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#77ded2 ;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: #8b594e;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-image: linear-gradient(to right, #723b2d, #efc9e6, #f9f0d1);
}

input:focus+.slider {
    box-shadow: 0 0 1px #8c8d48;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: #ffffff;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.tasks-div {
    font-size: 2rem;
    margin-bottom: 5rem;
    margin-left: 10rem;
    z-index: 10;
}

#tasksToggle {
    font-size: 1.5rem;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-image: linear-gradient(to top, #a4eaeab9, #5f4134);
    transform: scale(0.9);
    transition: transform 0.15s ease-in-out;
}

.task-icon{
    content:url(imgs/mintchoco/mint-chococat-rb.png);
}


#tasksToggle:hover {
    background-color: #36ebf4;
    transform: scale(1);

}

.task-container {
    transform: translateY(-30px) scale(0.6);
    opacity: 0;
    transform-origin: center;

    transition:
        transform 0.25s cubic-bezier(0.34, 1.56, 0.64, 1),
        opacity 0.15s ease;
    pointer-events: none;
}

.task-show {
    transform: translateY(0) scale(1);
    opacity: 1;
    pointer-events: auto;
}


ul {
    margin: 0;
    padding: 0;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #8b594e;
    font-size: 18px;
    transition: 0.2s;
    list-style-type: none;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}




ul li:nth-child(odd) {
    background: #94c6b5;
}

ul li:hover {
    background: #b4918b;
}

ul li.checked {
    background: #62bbb5;
    color: #4b1f1f;
    text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
    content: "\2605";
    position: absolute;
    color: rgb(180, 232, 223);
    font-size: 20px;
    left: 10px;
}

ul li::before {
    content: "\2606";
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 20px;
    left: 10px;
    pointer-events: none;
}

li {
    position: relative;
}

/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #99dbda;
    color: white;
}

/* Style the header */
.task-title {
    background-color: #5f4134;
    background-image: url(imgs/mintchoco/mintchoco-wings.png);
    background-size: 220px;
    background-position: bottom -40px right 9px;
    padding: 8px 20px 20px;
    color: #f7f8f8;
    text-align: center;
}

.task-title h2 {
    font-size: 2rem;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #4a3120ed;
    background-size: 10px;

}


/* Clear floats after the header */
.task-title:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the input */
input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
    background-image: linear-gradient(to top, #a4eaeab9, #fcfaf9);


}

/* Style the "Add" button */
.addBtn {
    padding: 10px;
    width: 25%;
    background-color: #5f4134;

    color: #f0efef;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.addBtn:hover {
    background-image: linear-gradient(to bottom, #5f4134, rgb(180, 113, 83));
}



.notification {
    position: fixed;
    top: 2rem;
    right: 2rem;

    background: #7fb7b587;
    border: 1px solid #7fb7b5;
    border-radius: 8px;
    padding: 1rem 1.5rem;
    backdrop-filter: blur(10px);
    transform: translateX(500px);
    transition: transform 0.3s ease;
    z-index: 100;
}

.notification.show {
    transform: translateX(0);
}

.notification.remove {
    transform: translateX(130%);
}

@media (max-width: 768px) {


    .time {
        font-size: 2rem;
    }

    .container,
    .tasks-div {
        padding: 1.5rem;
    }

    .settings,
    .controls,
    stats {
        gap: 1rem;
    }

    nav {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 60vw;
        height: fit-content;
        z-index: 10;
        text-align: center;
        font-size: 0.8rem;
    }

    .game-link {
        font-size: 1.25rem;
        width: inherit;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 1.5rem;
        height: 3rem;
    }


    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 13px;
        width: 0.9rem;
        left: 3.5px;
        bottom: 30px;
        -webkit-transition: .4s;
        transition: .4s;
    }


    input:checked+.slider:before {
        -webkit-transform: translateY(26px);
        -ms-transform: translateY(26px);
        transform: translateY(26px);
    }

    /* Rounded sliders */

    .tasks-div {
        
        margin-left: 2rem;
       
    }


    #tasksToggle {
        font-size: 1.25rem;
        width: inherit;


    }

    .tasks-div {
        font-size: 0.9rem;
        size: 2rem;
        margin-bottom: 15rem;
        position: relative;
        top: 60px;

    }

    .task-title h2 {
        padding: 10px 50px;
        font-size: 0.9rem;

    }

    input {
        margin: 0;
        border: none;
        border-radius: 0;
        width: 75%;
        padding: 10px;
        float: left;
        font-size: 12px;
    }

    .addBtn {
        padding: 10px;
        width: 25%;
        background-color: #5f4134;

        color: #f0efef;
        float: left;
        text-align: center;
        font-size: 12px;
        cursor: pointer;

    }

    ul li {
        font-size: 0.9rem;


    }

    .disclaimer {
        margin-bottom: 3rem;
        margin-left: 4rem;

    }


}